img {
    vertical-align: middle;
    border-style: none;
    width: 225px;
}
.notify{
    font-size: 22px;
    font-weight: bold;
    color: #f6ac3d;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);


body{
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}
input[type=button], input[type=submit], input[type=reset]  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 6px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;

  }
  mark{
    background-color:white;
    color: red;

  }
  
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
  }
  
  
.navbar-laravel
{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.navbar-brand , .nav-link, .my-form, .login-form
{
    font-family: Raleway, sans-serif;
}

.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}







html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .google-loader {
    display: block;
  }
  
  .google-loader span {
    display: inline-block;
    margin-top: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }
  
  .google-loader span:not(:first-child) {
    margin-left: 10px;
  }
  
  .google-loader span:nth-child(1) {
    background: #4285F4;
    animation: move 1s ease-in-out -0.25s infinite alternate;
  }
  
  .google-loader span:nth-child(2) {
    background: #DB4437;
    animation: move 1s ease-in-out -0.5s infinite alternate;
  }
  
  .google-loader span:nth-child(3) {
    background: #F4B400;
    animation: move 1s ease-in-out -0.75s infinite alternate;
  }
  
  .google-loader span:nth-child(4) {
    background: #0F9D58;
    animation: move 1s ease-in-out -1s infinite alternate;
  }
  
  @keyframes move {
    from {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(5px);
    }
  }
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 4em;
    text-align: center;
    letter-spacing: -8px;
    margin-top: 0;
  }
  
  h1,h3 span:first-child {
    color: #4285F4;
  }
  
  h1, h3 span:nth-child(2) {
    color: #DB4437;
  }
  
  h1, h3 span:nth-child(3) {
    color: #0F9D58;
  }
  
  h1,h3 span:nth-child(4) {
    color: #4285F4;
  }
  h1,h3 span:nth-child(5) {
    color: #0F9D58;
  }
  h1,h3 span:nth-child(6) {
    color: #DB4437;
  }
  h1,h3 span:nth-child(7) {
    color: #0F9D58;
  }
  h1,h3 span:last-child {
    color: #DB4437;
    /* transform: rotate(-20deg); */
    display: inline-block;
  }